#wdr-pivot-view #wdr-grid-view div.alter1 {
background-color: #eff9ff;
}

#wdr-pivot-view #wdr-grid-view div.highOffer {
background-color: #ed644c;
}

#wdr-pivot-view #wdr-grid-view div.midOffer {
background-color: #eda24c;
}

#wdr-pivot-view #wdr-grid-view div.maxBid {
background-color: #ee6e3f;
}

#wdr-pivot-view #wdr-grid-view div.minOffer {
 background-color: #ee6e3f;
}

#wdr-pivot-view #wdr-grid-view div.alter2 {
background-color: #cceeff;
}

